<!-- Cabecalho principal  -->
<%- include('../partials/header') %>

    <!-- Conteudo do index  -->
    <main class="d-flex flex-column flex-fill text-center justify-content-center">
        <div class="w-50 mx-auto align-content-center bg-success" style="height: 300px;">

            <!-- se a página que chamou for a de cadastro, mostra que o cadastro foi realizado, monstrando o nome do usuario que acabou de ser cadastrado -->
            <% if (tipo=="cadastro" ) { %>
                <h1 class="text-white">
                    <!-- Pega o nome de quem foi cadastrado, vindo do objeto usuarioNovo -->
                    Cadastro de <%- usuarioNovo.usuario %> realizado
                </h1>
                <!-- se a página que chamou for a de edição, mostra que o cadastro foi editado -->
                <% } else if(tipo=="edicao" ) { %>
                    <h1 class="text-white">
                        <!-- Pega o nome de quem foi cadastrado, vindo do objeto usuarioNovo, e editar -->
                        Edição de <%- usuarioAtualizado.usuario %> confirmado
                    </h1>
                    <% }else{ %>
                     h1 class="text-white">
                        <!-- DElete -->
                        usuario <%- deletado.usuario %> excluido
                    <% } %>
<!-- Criando botões para outras páginas  -->
 <a href="/usuarios">
    <button class="btn btn-lg btn-secondary mx-2">Voltar para a listar de usuarios</button>
 </a>

 <a href="/usuarios/cadastrar">
    <button class="btn btn-lg btn-primary mx-2">Voltar para a listar de cadastro</button>
 </a>
        </div>
    </main>

    <!-- Rodape de todas as páginas  -->
    <%- include('../partials/footer') %>