<%- include('../partials/header') %>

    <main class="container text-center mt-3">
        <h1>LISTA DE PRODUTOS </h1>
        <a href="/produtos/cadastrar">
            <button class="btn btn-lg btn-primary">
                <i class="bi bi-brightness-high-fill"></i>
                Cadastrar
            </button>
        </a>
        <div class="d-flex flex-wrap flex-row gap-3 ">
        <% if (produtos && produtos.length> 0) { %>
            <% produtos.forEach((produto) => { %>
                <div class="card" style="width: 18rem;">
            <img src="<%= produto.url %>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">
                    <%= produto.nome %>
                </h5>
                <p class="card-text"> <strong>Descrição </strong><%= produto.descricao %></p>
                <p class="card-text"> <strong>tipo </strong><%= produto.categoria %></p>
                <p class="card-text"> <strong>preço </strong><%= produto.preco %></p>
                <p class="card-text"> <strong>Quantidade </strong><%= produto.quantidade %></p>
         
                                <a href="/produtos/<%= produto.id %>" style="text-decoration: none;">
                                    <button class="btn btn-sm btn-warning me-2">
                                        <i class="bi bi-pencil-square"></i>
                                        Editar
                                    </button>
                                </a>
                                 <a href="#">
                                    <button class="btn btn-sm btn-danger"
                                        onclick="confirmaExclusao('<%= produto.id %>', '<%=produto.nome %>')">
                                        <i class="bi bi-trash3"></i>
                                        Excluir
                                    </button>
                                </a>
</div>
                </div>
                            
                        <% }) %>

              <% } else { %>
                <div class="alert alert-warning text-center mt-5">
                    Nenhum produto cadastrado no momento.
                </div>
                <% } %>
                 <script>
                        function confirmaExclusao(nomeProduto, id) {
                            if (confirm(`Deseja realmente excluir o Produto ${nomeProduto}`)){
                                window.location.href = ` /produtos/deletar/${id}`
                            }
                        }
                    </script>
    </main>

    <%- include('../partials/footer') %>